@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #444;
}

header .logo {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .logo h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 3px;
  cursor: pointer;
  transition: 0.15s;
}

header .logo h1:hover {
  color: #20b2aa;
}
