@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #444;
}

header .logo {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .logo h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 3px;
  cursor: pointer;
  transition: all 0.15s linear;
}

header .logo h1:hover {
  color: #20b2aa;
}

.bg-container {
  background-image: url(./images/maldives.jpg);
  width: 100%;
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.bg-container h1 {
  color: white;
  text-transform: uppercase;
  font-size: 8rem;
  letter-spacing: 10px;
  padding-left: 100px;
}

.bg-description {
  margin: 100px;
  text-align: center;
}

.bg-description h1 {
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #20b2aa;
}

.bg-description p {
  font-size: 1.3rem;
  text-align: justify;
}

.bg-description a {
  text-decoration: none;
  background-color: #20b2aa;
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 10px 30px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 50px;
}

.bg-description a:hover {
  background-color: rgba(32, 178, 170, 0.75);
}

.bg-description a:active {
  outline: 5px solid rgba(32, 178, 170, 0.3);
}

.second {
  background-image: url(./images/hawaii.jpg);
}

.third {
  background-image: url(./images/norway.jpg);
}

.fourth {
  background-image: url(./images/rome.jpg);
}

.fifth {
  background-image: url(./images/greece.jpg);
}

footer p {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 50px;
}
